<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo" style="background: url('../assets/img/images.jpg') repeat transparent;"></div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div padding>
            <ion-list *ngIf="form_name=='forms_list'">
              <button ion-item *ngFor="let form of forms" (click)="onTap(form.pageName)" no-lines>
                <ion-icon name="{{form.icon}}" item-start></ion-icon>
                {{form.title}}
                <!-- <ion-badge item-end color="{{ form.point <= 10 ? 'danger' : (form.point >= 50 ? 'secondary' : 'primary') }}">{{form.point}}</ion-badge> -->
                <ion-icon name="checkmark-circle" color="{{ form.isUpdated ? 'secondary' : 'light'}}" item-end></ion-icon>
              </button>
            </ion-list>

          <ion-card>
            <ion-grid *ngIf="form_name=='rating_tables'" class="rating-table">
              <ion-row class="header">
                <ion-col col-6>1.MEMBERSHIP</ion-col>
                <ion-col col-3>SCORE</ion-col>
                <ion-col col-3>PRIORITIES</ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-6>Recruitment</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Retention</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Annual general meetings</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Frequency of meetings</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>AGM agenda</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Feedback</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Outreach</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Involvement</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Fees</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Strategic Orientation</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>

            </ion-grid>
          </ion-card>
          
          <ion-card>
            <ion-grid *ngIf="form_name=='rating_tables'" class="rating-table">
              <ion-row class="header">
                <ion-col col-6>2. MARKETING</ion-col>
                <ion-col col-3>SCORE</ion-col>
                <ion-col col-3>PRIORITIES</ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-6>Marketing services</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Participation</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Buyers</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Quality</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Storage</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Use of Infrastructure</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Working capital</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Marketing plan</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Personnel</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Marketing experience</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Pricing mechanism</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Pre-production market survey</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Consumer feedback mechanism</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Value addition</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Certification</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Management of demand-supply</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>

            </ion-grid>
          </ion-card>

          <ion-card>
            <ion-grid *ngIf="form_name=='rating_tables'" class="rating-table">
              <ion-row class="header">
                <ion-col col-6>3. MONEY</ion-col>
                <ion-col col-3>SCORE</ion-col>
                <ion-col col-3>PRIORITIES</ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-6>Accountant</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Accounting procedures</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Strength of audit</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Profit and loss statement</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Profitability</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Bank account</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Cash flow</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Balance sheet</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Record keeping</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Credit (Loan/fund)</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Mode of payment</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
            
            </ion-grid>
          </ion-card>

          <ion-card>
            <ion-grid *ngIf="form_name=='rating_tables'" class="rating-table">
              <ion-row class="header">
                <ion-col col-6>4. MANAGEMENT</ion-col>
                <ion-col col-3>SCORE</ion-col>
                <ion-col col-3>PRIORITIES</ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-6>Legal status</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Bylaws</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Board of directors</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Election of board of directors</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Decision making process</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Supervisory committee</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Business plan</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Manager</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Operating procedures</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Organizational Structure</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Clarity of Roles/responsibilities</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Use of software</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Organizational communication</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Data collection</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Awareness about schemes</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              

            </ion-grid>
          </ion-card>

          <ion-card>
            <ion-grid *ngIf="form_name=='rating_tables'" class="rating-table">
              <ion-row class="header">
                <ion-col col-6>5. SERVICES</ion-col>
                <ion-col col-3>SCORE</ion-col>
                <ion-col col-3>PRIORITIES</ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-6>Financial services</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Input supply</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Advisory services</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Crop insurance</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Backward linkages</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Transportation</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>Information services</ion-col>
                <ion-col col-3>-</ion-col>
                <ion-col col-3>-</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>